html, body {
  height: 100%;
  margin: 0;

}

.clouds {
  width: 100%;
  position: fixed;
  animation: clouds 120s alternate infinite linear;
  z-index: -10;
}

@keyframes clouds {
  0%   {left: -2080px; top:100px;}
  100% {left:0px; top:100px;}
}

.clouds2 {
  width: 100%;
  position: fixed;
  animation: clouds2 90s alternate-reverse infinite linear;
  z-index: -1;
}

@keyframes clouds2 {
  0%   {left: -2080px; top:100px;}
  100% {left:0px; top:100px;}
}

.contact {
  animation-name: contact;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes contact {
  0% {
    background: #00C9FF;
  }
  100% {
    background: #005CCE;
  }
}

body {
  background: linear-gradient(#00C9FF 15%, #FFFFFF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background: linear-gradient(#007b9d 0%, #00C9FF 60%);
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 100;
}

main {
  max-width: 50%;
  min-width: 1000px;
  margin: 160px auto 0 auto;
  position: relative;
}

#fixedbar {
  height: 100px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 100px;
  left: -20px;
  float: left;
  position: relative;
}

.linkedin {
  position: relative;
  width: 40px;
  top: 45px;
  margin-left: 30px;
  float: right;
}

.e-mail {
  position: relative;
  width: 40px;
  top: 45px;
  margin-left: 30px;
  float: right;
}
.hamburger {
  position: relative;
  width: 40px;
  top: 45px;
  margin-left: 30px;
  float: right;
  display: none;
}

.facebook {
  position: relative;
  width: 40px;
  top: 12px;
  margin-left: 5px;
  display: inline-block;
}

.nav {
  position: relative;
  float: right;
  margin-top: 50px;
  z-index: 100;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  }
  
.nav li {
  font-family: 'Mukta', sans-serif;
  color: #FFF;
  font-size: 1.4em;
  line-height: 40px;
  height: 40px;
  width: 120px;
  float: left;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    display: inline;
    transition: .3s background-color;
  }
    
  .nav a.active {
    box-shadow: 0px 8px 5px -5px #FFF;
  }

  h1 {
    position: relative;
    font-family: 'WindSong', cursive;
    font-size: 150px;
    font-weight: 500;
    color:#005CCE;
    text-align: left;
    transform: rotate(-15deg);
    text-shadow: rgba(0, 0, 0, 0.5) 3px 5px 10px;
    z-index: 1;
  }

  .kop1 {
    left: -60px;
  }

  .kop2 {
    left: -80px;
  }

  .kop3 {
    left: -80px;
  }

  .kop4 {
    left: -60px;
  }

  p {
    white-space: pre-line;
  }

  article p {
    font-family: 'Mukta', sans-serif;
    font-size: 1.6em;
    line-height: 1.4em;
    text-align: left;
    padding-bottom: 0.7em;
    padding-right: 60px;
  }

  .pasfoto img {
    position: relative;
    top: -35px;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: right;
    margin: -50px 25px;
  }

  .opleiding-werk-1 img {
    position: relative;
    top: -50px;
    left: 40px;
    width: 250px;
    height: 250px;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: right;
    z-index: 10;
  }

  .opleiding-werk-2 img {
    position: relative;
    top: -10px;
    left: 80px;
    width: 250px;
    height: 250px;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: right;
    z-index: 5;  
  }

  .grafisch img {
    position: relative;
    top: -35px;
    width: 320px;
    height: 320px;
    margin: -50px 25px -30px 40px;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: right;
    border-radius: 50%;
    z-index: 5;  
  }
  
  .foto-3x4-l img {
    position: relative;
    top: -10px;
    left: -40px;
    width: 279px;
    height: 372px;
    margin-right: 17px;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: left;
    z-index: 5;  
  }

  .foto-3x4-r img {
    position: relative;
    top: -10px;
    left: -40px;
    width: 279px;
    height: 372px;
    border: solid 8px #FFF;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    float: right;
    z-index: 5;  
  }

  .bottomspacer {
    position: relative;
    top: 0;
    left: -40px;
    width: 100%;
    height: 110px;
    border: none;
    float: left;
    z-index: 5;  
  }

  .contactformulier {
    text-align: left;
    float: left;
  }

  input {
    padding: 10px;
    margin: 5px 0 10px 0; 
    border: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 50%;
    font-family:inherit;
    font-size: inherit;
  }

  label {
    font-family: 'Mukta', sans-serif;
    font-size: 1.6em;
    line-height: 1.4em;
    text-align: left;
    padding-bottom: 10px;
  }