// hamburger menu 
.klapmenu {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--color-hamburger);
    transition: height 0.5s, width 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: 1;
    display: block;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      display: none;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      display: none;
    }
    @media (min-width: $ulg-min) {
      display: none;
    }
  }

  .fadeout {
    animation: fadeout 0.5s forwards;
   } 
  @keyframes fadeout {
    0% {
    opacity:1;
    }
    100% {
    opacity:0;
    }
   }

  .hr {
    display: block;
    margin: 0.9em 10% 1.1em 10%;
    border: none;
    background-color: var(--color-hamburger);
    height: 2px;
  }

  .menu-btn {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 2px solid var(--color-hamburger);

    @media (min-width: $ulg-min) {
      width: 36px;
      height: 36px;
    }
  }

  .menu-btn_hamburger {
    width: 20px;
    height: 3px;
    background: var(--color-hamburger);
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn_hamburger::before,
  .menu-btn_hamburger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: var(--color-hamburger);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  .menu-btn_hamburger::before {
    transform: translate(-10px, -8px);
  }

  .menu-btn_hamburger::after {
    transform: translate(-10px, 8px);
  }

   // hamburger circle menu
   .circlemenu {
    position: relative;
    top: 80px;
    margin: 0 calc(55% - 100px) 0 calc(45% - 100px);
    background: var(--color-lightblue);
    box-shadow: 0 0 15px 15px rgba( 255, 255, 255, 0.7 );
    border-radius: 100%;
    font-family: var(--primary-font-family);
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 0.8rem;
    text-align: center;
    color: var(--color-hamburger);
    padding: 30px;
    overflow: hidden;
    -webkit-transform: scale( 0 );
    -moz-transform: scale( 0 );
    -o-transform: scale( 0 );
    -ms-transform: scale( 0 );
    transform: scale( 0 );
    width: 200px;
    height: 200px;
    display: block;
  }

  .circlemenu,.menulinks {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .circlemenu-expand {
    -webkit-transform: scale( 1 );
    -moz-transform: scale( 1 );
    -o-transform: scale( 1 );
    -ms-transform: scale( 1 );
    transform: scale( 1 );
    vertical-align: middle;
  }

  .circlemenu-expand .menulinks {
    opacity: 1;
  }

  .menulinks {
    opacity: 0;
  }

  // hamburger menu button animation
  .menu-btn.open .menu-btn_hamburger {
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_hamburger::before {
    transform: rotate(45deg) translate(-7px, 7px);
  }

  .menu-btn.open .menu-btn_hamburger::after {
    transform: rotate(-45deg) translate(-7px, -7px);
  }

  .open {
    border-radius: 100%;
  }