// images
  .pasfoto img {
    position: relative;
    float: none;
    margin: 0 calc(50% - 90px);
    width: 180px;
    height: 180px;
    shape-outside: circle(50%);
    border-radius: 50%;
    border: solid 4px var(--color-white);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      float: right;
      margin: 0 0 0 20px;
      width: 220px;
      height: 220px;
      border: solid 5px var(--color-white);
      box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      float: right;
      margin: 0 0 0 30px;
      width: 260px;
      height: 260px;
      border: solid 6px var(--color-white);
      box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }
    @media (min-width: $ulg-min) {
      float: right;
      margin: 0 0 0 35px;
      width: 320px;
      height: 320px;
      border: solid 7px var(--color-white);
      box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
  
  .fotocontainer-1 {
    position: relative;
    margin: 0 calc(65% - 115px) 0 calc(35% - 115px);
    float: none;
    width: 330px;
    height: 205px;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      margin: -5px 0 0 20px;
      float: right;
      width: 360px;
      height: 220px;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      margin: -10px 0 0 20px;
      float: right;
      width: 390px;
      height: 245px;
    }
    @media (min-width: $ulg-min) {
      margin: 15px 0 0 20px;
      float: right;
      width: 430px;
      height: 275px;
    }
  }
  
  .opleiding-werk-hobbies-1 img {
    position: absolute;
    top: 0;
    left: 145px;
    width: 150px;
    height: 150px;
    border: solid 4px var(--color-white);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      left: 160px;
      width: 165px;
      height: 165px;
      border: solid 5px var(--color-white);
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      left: 170px;
      width: 180px;
      height: 180px;
      border: solid 6px var(--color-white);
    }
    @media (min-width: $ulg-min) {
      left: 185px;
      width: 200px;
      height: 200px;
      border: solid 7px var(--color-white);
    }
  }
  
  .opleiding-werk-hobbies-2 img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    height: 150px;
    border: solid 4px var(--color-white);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1; 
    
    @media (min-width: $lg-min) and (max-width: $lg-max) {
      width: 165px;
      height: 165px;
      border: solid 5px var(--color-white);
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      top: 25px;
      width: 180px;
      height: 180px;
      border: solid 6px var(--color-white);
    }
    @media (min-width: $ulg-min) {
      top: 30px;
      width: 200px;
      height: 200px;
      border: solid 7px var(--color-white);
    }
  }
  
  .fotocontainer-2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      justify-content: center;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      justify-content: center;

    }
    @media (min-width: $ulg-min) {
      justify-content: center;
      padding-top: 50px;
    }
  }
  
  .foto img {
    width: 100%;
    max-width: 320px;
    height: auto;
    object-fit: contain;
    border: solid 7px var(--color-white);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
    flex: 0 1 auto;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      max-width: 320px;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      max-width: 305px;
    }
    @media (min-width: $ulg-min) {
      max-width: 290px;
    }
  }