  // fonts - windsong - mukta
  @font-face {
    font-family: 'WindSong';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/windsong-v5-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/windsong-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/windsong-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/windsong-v5-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/windsong-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/windsong-v5-latin-500.svg#WindSong') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/mukta-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/mukta-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/mukta-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/mukta-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/mukta-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/mukta-v12-latin-regular.svg#Mukta') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/mukta-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/mukta-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/mukta-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/mukta-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/mukta-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/mukta-v12-latin-500.svg#Mukta') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/mukta-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/mukta-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/mukta-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/mukta-v12-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/mukta-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/mukta-v12-latin-600.svg#Mukta') format('svg'); /* Legacy iOS */
  }
  
  
  // media query sizes
  $md-min: 481px;
  $md-max: 768px;
  $lg-min: 769px;
  $lg-max: 1024px;
  $xlg-min: 1025px;
  $xlg-max: 1200px;
  $ulg-min: 1201px;

  // algemeen
  html, body {
    font-size: 20px;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    background: var(--background-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadein 2s;
  }
  @keyframes fadein {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
   }

  .main {
    width: 75vw;
    margin: 110px auto 0 auto;
    position: relative;
  
    @media (min-width: $lg-min) and (max-width: $lg-max) {
      width: 80vw;
      margin: 120px auto 0 auto;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      width: 75vw;
      margin: 130px auto 0 auto;
    }
    @media (min-width: $ulg-min) {
      width: 70vw;
      max-width: 1000px;
      margin: 140px auto 0 auto;
    }
  }

  // headings 
  h1 {
    position: absolute;
    font-family: var(--secundary-font-family), cursive;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-koptekst);
    text-align: left;
    transform: rotate(-15deg);
    text-shadow: rgba(0, 0, 0, 0.5) 3px 5px 10px;
    z-index: 1;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      font-size: 4.25rem;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      top: 10px;
      font-size: 5.0rem;
    }
    @media (min-width: $ulg-min) {
      top: 20px;
      font-size: 5.75rem;
    }
  };

  .kop1 {
    text-align: left;
    left: -20px;
    margin: 0 auto;
  }
  
  .kop2 {
    text-align: left;
    left: -40px;
    margin: 0 auto;
  }
  
  article {
    position: absolute;
    margin-top: 100px;
    padding: 0 20px;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      margin-top: 150px;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      margin-top: 175px;
    }
    @media (min-width: $ulg-min) {
      margin-top: 200px;
    }
  }

  p {
    position: relative;
    font-family: var(--primary-font-family);
    font-size: 0.95rem;
    line-height: 1.25rem;
    text-align: left;
    color: var(--color-bodytekst);
    padding-bottom: 0.55rem;
    height: 100%;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      font-size: 1.0rem;
      line-height: 1.35rem;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    @media (min-width: $ulg-min) {
      top: 30px;
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }

  a:visited, a:link {
    text-decoration: none;
    color: var(--color-footertekst);
    font-weight: 400;
  }
  
  a:hover, a:active {
    text-decoration: underline;
    color: var(--color-footertekst);
    font-weight: 400;
  }

  // footer
  .footer {
    background: var(--footer-gradient);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 180px;
    z-index: 10;
  }
  
  .footercontent {
    margin: 0 auto;
    width: 75vw;
    height: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      width: 80vw;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      width: 75vw;
    }
    @media (min-width: $ulg-min) {
      width: 70vw;
      max-width: 1000px;
    }
  }
  
  .galileo img {
    width: 150px;
    object-fit: contain;
    flex: 0 1 auto;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      width: 165px;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      width: 180px;
    }
    @media (min-width: $ulg-min) {
      width: 195px;
    }
  }
  
  .copyright {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 0.95rem;
    color: var(--color-footertekst);
    text-align: center;
    flex: 0 1 auto;
    display: none;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
    @media (min-width: $ulg-min) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
  }
  
  .copyright2 {
    display: block;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      display: none;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      display: none;
    }
    @media (min-width: $ulg-min) {
      display: none;
    }
  }
  
  .privacy {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 0.95rem;
    color: var(--color-footertekst);
    text-align: center;
    flex: 0 1 auto;
    display: none;

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
    @media (min-width: $ulg-min) {
      font-size: 0.75rem;
      line-height: 1.0rem;
      display: block;
    }
  }
  
  .privacy2 {
    display: block;
    color: var(--color-footertekst);

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      display: none;
    }
    @media (min-width: $xlg-min) and (max-width: $xlg-max) {
      display: none;
    }
    @media (min-width: $ulg-min) {
      display: none;
    }
  }

  .bottomspacer {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    margin-top: 70px;
    border: none;
    float: left;
    z-index: 5;  
  }





// Imports
@import 'form.scss';
@import 'hamburgermenu.scss';
@import 'images.scss';
@import 'keyframes.scss';
@import 'navigation.scss';
@import 'themes.scss'

